<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.ilanDBConnectionString" connectionString="Data Source=WIN-T18F3F1NRQL\MSSQLSERVER01;Initial Catalog=ilanDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>